body {
	margin:0;
	padding: 0;
}

/* Estilos del header */
header {
	display: flex;
	height: 85px;
	background-color: black;
}
header img {
	height: 100%;
}
header a {
	color: white;
	text-decoration: none;
	align-self: center;
	padding: 1rem;
}
header a:hover {
	background-color: #81cd2c;
}

/* Estilos del index */
main {
	background-image:linear-gradient(rgb(255 255 255 / 30%), rgba(255,255,255,0.3)),url("../img/fondo.jpg");
	color: #F5FDED;
	min-height: calc(100vh - 135px - 40px);
	padding: 20px;
}

h1 {
	padding-left: 2rem;
	margin:0;
}

.principal {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.principal > h1, h3 {
	text-shadow: 0.15rem 0.1em #333;
	text-align: center;
}

.principal > h3 {
	font-style: italic;
	margin: 0;
}

/* Estilos del asamblea */
.asamblea {
	background-color: #F5FDED;
	color: #2B4E03;
	text-shadow: none;
	box-sizing: border-box;
	width: 50%;
	border-radius: 1.5rem;
	margin: auto;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.25rem;
	text-align: left;
	font-weight: bold;
}

.asamblea h1 {
	text-align: center;
	padding: 1rem;
}

/* Estilos del noticias */
.noticias {
	background-color: #F5FDED;
	color: #2B4E03;
	text-shadow: none;
	box-sizing: border-box;
	width: 50%;
	margin: auto;
	text-align: left;
	margin-top:1%;
}

.noticias h4 {
	background-color: #2B4E03;
	color: #F5FDED;
	margin: 0;
	padding: 1.25rem;
}

.noticias time {
	display: block;
	margin: 0;
	padding: 0.5rem;
	font-style: italic;
}

.noticias p, time {
	padding-left: 2rem;
	padding-right: 2rem;
	font-weight: bold;
}

.btnInfo{
	padding: 0.75rem 1.5rem;
	margin: 0.5rem;
	color:#F5FDED;
	background-color:#81cd2c;
    border: none;
    border-radius: 15px;
    border-style: outset;
	text-align: center;
}

/* Estilos de carreras */
.carreras {
	background-color: #F5FDED;
	color: #81cd2c;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	padding-bottom: 50px;
}

.carreras article {
	position: relative;
}

.carreras h1 {
	font-size: 2rem;
	grid-column: 1 / 4;
	margin: 0px;
	padding: 2rem;
	justify-self: start;
	
}

.carreras img {
	width: 75%;
	display: block;
	margin: auto;
}

.carreras article:hover img {
    opacity: 0.5;
}

.carreras article:hover p {
    opacity: 1;
}

.carreras .texto {
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: #81cd2c;
	text-transform: uppercase;
    padding: 1rem;
    color: #81cd2c;
}

/*Estilos para excursiones*/
.excursiones {
	background-color: #F5FDED;
	color: #2B4E03;
    text-align: center;
	min-height: calc(100vh - 135px - 40px);
	padding-bottom: 20px;
}

.excursiones h1 {
	font-size: 2rem;
	margin: 0px;
	padding: 2rem;	
}

table {
	width: 60%;
	margin: auto;
	border-collapse: collapse;
	color: #2B4E03;
}

tr:nth-child(odd) {
	background-color: rgba(43, 78, 3,0.2);
}

th {
	font-size:1.5rem;
	padding: 1.5rem;
	border-bottom: solid 1px #2B4E03;
}
td {
	font-size:1.1rem;
	padding: 1.1rem;
}

.dificultad {
	border-radius: 10px;
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
	text-transform: uppercase;
}

.naranja {
	background-color: orange;
}
.rojo {
	background-color: #f73939;
}
.verde {
	background-color: #81cd2c;
}


/*Estilos para el footer*/
footer {
	height: 50px;
}

address {
	padding: 1rem;
	text-align: right;
	background-color: black;
	color: white;
}

